mat-form-field, textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  width: 3vw;
  height: 5rem;
  margin: 1rem 0;
  background-color: red;
}

.image-preview img {
  height: 100%;
}
